/*-----------------Fonts-----------------*/


/*----Roboto Light----*/
@font-face {
    font-family: 'Roboto Light';
    src: url('../fonts/Roboto-Light/roboto-light.eot');
    src: url('../fonts/Roboto-Light/roboto-light.eot?#iefix') format('embedded-opentype'),
         url('../fonts/Roboto-Light/roboto-light.woff') format('woff'),
         url('../fonts/Roboto-Light/roboto-light.ttf') format('truetype');
    font-weight: 300;
    font-style: normal;
}

/*----Roboto Regular----*/
@font-face {
    font-family: 'Roboto Regular';
    src: url('../fonts/Roboto-Regular/roboto-regular.eot');
    src: url('../fonts/Roboto-Regular/roboto-regular.eot?#iefix') format('embedded-opentype'),
         url('../fonts/Roboto-Regular/roboto-regular.woff') format('woff'),
         url('../fonts/Roboto-Regular/roboto-regular.ttf') format('truetype');
    font-weight: 400;
    font-style: normal;
}

/*----Roboto Medium----*/
@font-face {
    font-family: 'Roboto Medium';
    src: url('../fonts/Roboto-Medium/roboto-medium.eot');
    src: url('../fonts/Roboto-Medium/roboto-medium.eot?#iefix') format('embedded-opentype'),
         url('../fonts/Roboto-Medium/roboto-medium.woff') format('woff'),
         url('../fonts/Roboto-Medium/roboto-medium.ttf') format('truetype');
    font-weight: 500;
    font-style: normal;
}

/*----Roboto Bold----*/
@font-face {
    font-family: 'Roboto Bold';
    src: url('../fonts/Roboto-Bold/roboto-bold.eot');
    src: url('../fonts/Roboto-Bold/roboto-bold.eot?#iefix') format('embedded-opentype'),
         url('../fonts/Roboto-Bold/roboto-bold.woff') format('woff'),
         url('../fonts/Roboto-Bold/roboto-bold.ttf') format('truetype');
    font-weight: 700;
    font-style: normal;
}

/*----RobotoSlab Regular----*/
@font-face {
    font-family: 'RobotoSlab Regular';
    src: url('../fonts/RobotoSlab-Regular/robotoslab-regular.eot');
    src: url('../fonts/RobotoSlab-Regular/robotoslab-regular.eot?#iefix') format('embedded-opentype'),
         url('../fonts/RobotoSlab-Regular/robotoslab-regular.woff') format('woff'),
         url('../fonts/RobotoSlab-Regular/robotoslab-regular.ttf') format('truetype');
    font-weight: 400;
    font-style: normal;
}

/*----RobotoSlab Bold----*/
@font-face {
    font-family: 'RobotoSlab Bold';
    src: url('../fonts/RobotoSlab-Bold/robotoslab-bold.eot');
    src: url('../fonts/RobotoSlab-Bold/robotoslab-bold.eot?#iefix') format('embedded-opentype'),
         url('../fonts/RobotoSlab-Bold/robotoslab-bold.woff') format('woff'),
         url('../fonts/RobotoSlab-Bold/robotoslab-bold.ttf') format('truetype');
    font-weight: 700;
    font-style: normal;
}

@font-face {
    font-family: 'Glyphter';
    src: url('../fonts/Glyphter/Glyphter.eot');
    src: url('../fonts/Glyphter/Glyphter.eot?#iefix') format('embedded-opentype'),
         url('../fonts/Glyphter/Glyphter.woff') format('woff'),
         url('../fonts/Glyphter/Glyphter.ttf') format('truetype');
    font-weight: 700;
    font-style: normal;
}